:root{
    --clr-main: #FE5F00;
    --clr-footer: #fc9e68;
    --clr-ul: #DEFFF2;
    --clr-texto:#283044;
    --clr-eliminar: #FF4242;
    --clr-correcto: #0B7A75;
    --clr-fndcarrito: #F1F2EE;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p, a, textarea, ul{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--clr-ul);
}
p{
    font-weight: 700;
}
body{
    background-color:var(--clr-main) ;
    
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 0;
}
aside{
    padding: 2rem;
    padding-right: 0;
    color:var(--clr-ul);
    top: 0;
    position:sticky;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo{
    font-weight: 400;
    font-size: 2rem;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.boton_producto{
    background-color: transparent;
    border: 0;
    color: var(--clr-ul);
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    font-weight: 300;
    padding: 1rem;
    width: 100%;
}
.boton_producto.active, .active {
    background-color: var(--clr-ul);
    color: var(--clr-texto);
    width: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.icono_carrito{
    color: var(--clr-ul);
    border: none;
    display: flex;
    justify-content: space-around;
}
.numerito{
    background-color: var(--clr-ul);
    color: var(--clr-main);
    padding: 0.15rem, 0.25rem;
    border-radius: 0.25rem;
    width: 1.25rem;
    font-weight: 800;
}
.contenedor{
    display: flex;
}
.texto_footer{
    color: var(--clr-footer);
    font-size: 0.85rem;
}
main{
    background-color: var(--clr-ul);
    margin-top: 1rem;
    border-radius: 2rem;
    padding: 3rem;
}
.titulo_principal{
    color: var(--clr-main);
}
.contenedor_producto{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.producto{
    box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 1.4rem;
}
.producto_img{
    max-width: 100%;
    border-radius: 1rem;
}
.producto-detalles{
    background-color: var(--clr-main);
    padding: 0.5rem;
    border-radius: 1rem;
    color: var(--clr-ul);
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
        border-bottom-right-radius:1.3rem ;
    border-bottom-left-radius: 1.5rem;
}
.producto_titulo{
    font-size: 1rem;
}
.producto-agregar{
    border: 0;
    background-color: var(--clr-ul);
    padding: 0.75rem;
    text-transform: uppercase;
    border-radius: 1rem;
    cursor: pointer;
    border: 2px solid var(--clr-ul);
    transition: background-color 0.2s, color 0.2s;
}
.producto-agregar:hover{
    background-color: var(--clr-main);
    color: var(--clr-ul);
}

/* CARRITO */
.contenedor_carrito{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}
.carrito_vacio,
.carrito_comprado{
    color: var(--clr-main);
    /* display: none; */
}
.carrito_productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.carrito_producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-fndcarrito);
    border-radius: 1rem;
    color: var(--clr-footer);
    padding: 0.25rem;
    
}
.carrito_producto_img{
    width: 4rem;
    border-radius: 1rem;
}
.carrito_producto small{
    font-size: 0.75rem;
}
.carrito_producto_eliminar{
    border: 0;
    background-color: transparent;
    color: var(--clr-eliminar);
    cursor: pointer;
    padding: 1rem;
}
.carrito_acciones{
    display: flex;
    justify-content: space-between;
}
.carrito_acciones_vaciar{
    border: 0;
    background-color: var(--clr-fndcarrito);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    cursor: pointer;
}
.carrito_acciones_derecha{
    display: flex;

}
.carrito_acciones_total{
    display: flex;
    background-color: var(--clr-fndcarrito);
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    gap: 1rem;
}
.carrito_acciones_comprar{
    display: flex;
    background-color: var(--clr-main);
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: var(--clr-fndcarrito);
    text-transform: uppercase;
    gap: 1rem;
    border: none;
}
.ocultar{
display: none;
}